p{
    text-align: left;
    font-size: 3.5rem;
    font-weight: bolder;
    position: absolute; 
    /*left: 405px;*/
    top: 145px;
    right: 1205px;

}


span{
    font-family: 'Open Sans Condensed', sans-serif;
    /*display: inline;*/
    font-weight: lighter;
    color: rgb(88, 88, 88);
}
.box{
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    padding: 1rem;
    border-width: 10px;
    /*position: relative;*/
    position: absolute;
    left: 385px;
    right: 385px;
    top: 265px;
    bottom: 55px;
    display: flex;
    justify-content: space-between;
    
}
.box1,.box2,.box3{
    box-shadow: 3px 3px 3px 3px red;
    box-sizing: border-box;
    border:red;
    border-style: solid;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    height: 600px;
    width: 340px;
    border-radius: 45px;
    display: inline-block;
}
.pa,.to,.tol{

 color: red;
 font-size: 35px;
 font-weight: lighter;
}
.C{
font-size: 30px;color: red;
font-weight: bolder;

}
.input{
    margin: 0.1rem;
    
}
.check{
    margin: 0.1rem;
    height: 20px;
    width: 20px;
}
.add{
    position: absolute;
    top: 205px ;
    right: 435px;
    color: grey;
    font-size: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;

}
.material-icons{
    color: red;
    font-size: 2.8rem;
    font-weight: lighter;
    position: absolute;
    top: 215px ;
    right: 615px;

}
